In [10]:
def tambahMaha():
    try:
        nim = input("Masukan NIM Mahasiswa (11 digit): ")
        if len(nim) != 11 or not nim.isdigit():
            raise NIMTidakValid("NIM harus terdiri dari tepat 11 digit angka.")
        
        nama = input("Masukan Nama Mahasiswa (min. 6 karakter): ")
        if len(nama) < 6:
            raise ValueError("Nama minimal 6 karakter.")

        alamat = input("Masukan Alamat Mahasiswa (min. 10 karakter): ")
        if len(alamat) < 10:
            raise ValueError("Alamat minimal 10 karakter.")

        kelas = input("Masukan Kelas Mahasiswa (TI23 / TI24): ").upper()
        if kelas not in ["TI23", "TI24"]:
            raise ValueError("Kelas harus 'TI23' atau 'TI24'.")

        dataList[nim] = [nama, alamat, kelas]
        print("Data berhasil ditambahkan!")
        
    except (NIMTidakValid,Exception,ValueError) as err:
        print("Terjadi kesalahan:", err)

=== MENU DATA MAHASISWA ===
1. Tambah Data Mahasiswa
2. Tampilkan Data Mahasiswa
3. Keluar

Pilih menu (1/2/3):  1
Masukkan NIM (11 digit):  20240040072
Masukkan Nama (minimal 6 karakter):  kifta

Input tidak valid: Nama harus minimal 6 karakter.

=== MENU DATA MAHASISWA ===
1. Tambah Data Mahasiswa
2. Tampilkan Data Mahasiswa
3. Keluar

Pilih menu (1/2/3):  2

Belum ada data mahasiswa.

=== MENU DATA MAHASISWA ===
1. Tambah Data Mahasiswa
2. Tampilkan Data Mahasiswa
3. Keluar

Pilih menu (1/2/3):  2

Belum ada data mahasiswa.

=== MENU DATA MAHASISWA ===
1. Tambah Data Mahasiswa
2. Tampilkan Data Mahasiswa
3. Keluar

Pilih menu (1/2/3):  1
Masukkan NIM (11 digit):  20240040072
Masukkan Nama (minimal 6 karakter):  mifta

Input tidak valid: Nama harus minimal 6 karakter.

=== MENU DATA MAHASISWA ===
1. Tambah Data Mahasiswa
2. Tampilkan Data Mahasiswa
3. Keluar

Pilih menu (1/2/3):  1
Masukkan NIM (11 digit):  20240040072
Masukkan Nama (minimal 6 karakter):  mifta

Input tidak valid: Nama harus minimal 6 karakter.

=== MENU DATA MAHASISWA ===
1. Tambah Data Mahasiswa
2. Tampilkan Data Mahasiswa
3. Keluar

Pilih menu (1/2/3):  1
Masukkan NIM (11 digit):  202400040072

Input tidak valid: NIM harus terdiri dari 11 digit angka.

=== MENU DATA MAHASISWA ===
1. Tambah Data Mahasiswa
2. Tampilkan Data Mahasiswa
3. Keluar

Pilih menu (1/2/3):  1
Masukkan NIM (11 digit):  20230030303
Masukkan Nama (minimal 6 karakter):  miftaaa
Masukkan Alamat (minimal 10 karakter):  sukabumi sukabumi
Masukkan Kelas (TI23 atau TI24):  TI24

Data mahasiswa berhasil ditambahkan!

=== MENU DATA MAHASISWA ===
1. Tambah Data Mahasiswa
2. Tampilkan Data Mahasiswa
3. Keluar

Pilih menu (1/2/3):  2

Daftar Mahasiswa:
1. NIM: 20230030303 | Nama: miftaaa | Alamat: sukabumi sukabumi | Kelas: TI24

=== MENU DATA MAHASISWA ===
1. Tambah Data Mahasiswa
2. Tampilkan Data Mahasiswa
3. Keluar

Pilih menu (1/2/3):  3

Terima kasih!