In [1]:
name = "bayu"
age = 25
address,province = "jl.bulakkapal","7413412"
pythonScore = 90.5
isMarried = False

print("Nama :",name)
print("Umur :",age)
print("Alamat :",address)
print("Provinsi :",province)
print("Nilai pemrograman :",pythonScore)
print("Status Menikah :",isMarried)

Nama : bayu
Umur : 25
Alamat : jl.bulakkapal
Provinsi : 7413412
Nilai pemrograman : 90.5
Status Menikah : False

In [2]:
print("Tipe Data (nama) :",type(name))
print("Tipe Data (age) :",type(age))
print("Tipe Data (address) :",type(address))
print("Tipe Data (province) :",type(province))
print("Tipe Data (scorePython) :",type(pythonScore))
print("Tipe Data (isMarried) :",type(isMarried))

Tipe Data (nama) : <class 'str'>
Tipe Data (age) : <class 'int'>
Tipe Data (address) : <class 'str'>
Tipe Data (province) : <class 'str'>
Tipe Data (scorePython) : <class 'float'>
Tipe Data (isMarried) : <class 'bool'>

In [3]:
#Casting atau Konversi Tipe Data

strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt,strToInt,strToBool)

7413412 7413412 True

In [4]:
#Casting

intTostr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intTostr,intToFloat,intToBool)

25 25.0 True

In [5]:
#Casing

floatTostr = str(pythonScore)
floatToint = int(pythonScore)
floatToBool = bool(pythonScore)
print(floatTostr,floatToint,floatToBool)

90.5 90 True

In [6]:
#casing

boolToint = int(isMarried)
boolTostr = str(isMarried)
boolTofloat = float(isMarried)
print(boolToint,boolTostr,boolTofloat)

0 False 0.0

In [7]:
#String adalah kumpulan dari beberapa karakter dari immutable
city = "kotabekasi"
panjang = len(city)
print(city[0])
print(city[panjang-1])

k
i

In [8]:
desimal = 500
biner = 0b1111
octal = 0o377
hexa = 0xff

print("Nilai desimal:",desimal)
print("Nilai biner:",biner)
print("Nilai octal:",octal)
print("Nilai hexa:",hexa)

print(bin(desimal))
print(oct(desimal))
print(hex(desimal))

Nilai desimal: 500
Nilai biner: 15
Nilai octal: 255
Nilai hexa: 255
0b111110100
0o764
0x1f4

In [22]:
#Tipe data Collection
cities = ["Sukabumi","Malang","Bandung","Surabaya"]
print(cities)
print(cities[0])
print(cities[len(cities)-1])
cities[1] = "Jakarta"
print(cities)

hobbies = ("basket","ngaji","sholawat")
print(hobbies)
print(hobbies[0])
#hobbies[0] ="watching Netflix" error program
studentlist =[
    { 
    "name": "mifta",
    "age": 20,
    "address" :{
        "street":"jl.Cibolang Kaleng",
        "number":34,
        "province": "Kab.Sukabumi"  
        
        }
    
    },
    { 
    "name": "mifta",
    "age": 20,
    "address" :{
        "street":"jl.Cibolang Kaleng",
        "number":44,
        "province": "Kab.Sukabumi"  
        
        }
    
    }
]

    
    
    
            
print(studentlist)
print(studentlist[0])

['Sukabumi', 'Malang', 'Bandung', 'Surabaya']
Sukabumi
Surabaya
['Sukabumi', 'Jakarta', 'Bandung', 'Surabaya']
('basket', 'ngaji', 'sholawat')
basket
[{'name': 'mifta', 'age': 20, 'address': {'street': 'jl.Cibolang Kaleng', 'number': 34, 'province': 'Kab.Sukabumi'}}, {'name': 'mifta', 'age': 20, 'address': {'street': 'jl.Cibolang Kaleng', 'number': 44, 'province': 'Kab.Sukabumi'}}]
{'name': 'mifta', 'age': 20, 'address': {'street': 'jl.Cibolang Kaleng', 'number': 34, 'province': 'Kab.Sukabumi'}}